spring:
  application:
    name: MoveMais Estoque
  profiles:
    active: "dev"
  h2:
    console:
      enabled: true
  flyway:
    enabled: true
    locations: classpath:db/migration
---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:h2:mem:devdb
    username: sa
    password:
    driverClassName: org.h2.Driver
    jpa:
      database-platform: org.hibernate.dialect.H2Dialect
---
spring:
  config:
    activate:
      on-profile: test
  datasource:
    url: jdbc:h2:file:/data/testdb
    username: sa
    password:
    driverClassName: org.h2.Driver
    jpa:
      database-platform: org.hibernate.dialect.H2Dialect